title: TDAbench 2026
email: contact@tdabench.org
description: >-
  Workshop on benchmark data set for machine learning classification of astronomical transients.
baseurl: "/TDABench2026"
url: "https://tdabench.github.io"
github_username: TDABench

# Build settings
markdown: kramdown
theme: null
plugins:
  - jekyll-feed
  - jekyll-seo-tag

exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/

sass:
  sass_dir: _sass
  style: compressed
